ccnp==0.0.2
Flask==3.0.0
Flask-Cors==4.0.1
kafka-python==2.0.2
numpy==1.26.2
opencv-python==4.8.1.78
prometheus-client==0.18.0
protobuf==4.23.4
redis==5.0.1
requests==2.31.0
tensorflow==2.15.0
websockets==12.0
