# Default values for inference.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: <your registry>
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

redis:
  service: "redis-service"
  port: 6379

env:
  - name: RUNTIME_DB_TYPE
    value: "redis"
  - name: REDIS_HOST
    value: "redis-service"
  - name: QUEUE_TYPE
    value: "redis"
  - name: QUEUE_HOST
    value: "redis-service"
  - name: BROKER_TYPE
    value: "redis"
  - name: BROKER_HOST
    value: "redis-service"
  - name: INFER_FRAMEWORK
    value: "tensorflow"
  - name: INFER_TARGET
    value: "object-detection"
  - name: INFER_DEVICE
    value: "cpu"
  - name: INFER_MODEL_NAME
    value: "ssdmobilenet"
  - name: INFER_MODEL_VERSION
    value: "1.0"
  - name: OMP_NUM_THREADS
    value: "1"
  - name: TF_NUM_INTEROP_THREADS
    value: "'1'"
  - name: TF_NUM_INTRAOP_THREADS
    value: "'1'"
  - name: KMP_AFFINITY
    value: "granularity=fine,verbose,compact,1,0"

grafana:
  namespace: monitoring
  dashboard_labels:
    grafana_dashboard: "1"
